*{
    box-sizing: border-box;
}

body {
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-container {
    background-color: #ffffff75;;
    width: 180vh;
}

.card {
    background-color: #ffffff75;;
}

.btn {
    border: 2px solid black;
}